:root {
  --sans: system-ui, 'Inter Tight';
  --color-white: #fff;
  --color-accent: #cc4e37;
  --color-muted: #a9abb0;


  font: 16px/1.5 var(--sans);
  color: var(--color-white);
  background: #020304;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  background: #020304;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}

button,
a {
  font: inherit;
}

button {
  -webkit-tap-highlight-color: transparent;
}
